ul {
    list-style-type: disc;
    list-style-type: square;
    /* list-style-type: circle; */
/* 
    list-style-position: inside;
    list-style-position: outside; */
}

/* Tables */

table,
th,td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 10px;
    text-align: center ;
}
table{
    width: 100%;
}

th{
    height: 50px;
}