.container {
  background-color: beige;
  border: 2px solid black;
  display: flex;
  margin: 2px;
  padding: 2px;
}

.box {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  margin: 2px;
  padding: 2px;
}

#box1 {
  background-color: aqua;
}

#box2 {
  background-color: blue;
}

#box3 {
  background-color: orange;
}

#box4 {
  background-color: brown;
}