@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding: 1%;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: blue;
}

a:visited {
    color: purple;
}

a:hover, a:focus {
    color: red;
}

a:active {
    color: dodgerblue;
}