* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 20px;
}

.nav-bar {
  text-align: right;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 10px;
}
a:hover {
  color: blue;
  text-decoration: underline;
}


.main-section {
  text-align: center;
  margin-top: 10%;
}


.google>p {
  font-size: 100px;
  word-spacing: 0%;
  display: inline;
}
.g {
  color: blue;
}
.e {
  color: red;
}
.o {
  color: yellow;
}

.l {
  color: green;
}


.search {
  width: 40%;
  height: 44px;
  margin: 0 auto 29px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  display: block;
  padding-left: 20px;
  font-size: 16px;
}

.botom-button {
  color: black;
  border: none;
  background: white; 
  font-weight: 500;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
